body{
    background-color: black;
}

/********************Typograpy*************************************/

figure{
    margin: 0;
    padding: 0;
}

figcaption{
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 35px;
    font-weight: bold;
    text-transform: capitalize;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
    color :#000000;
}

p {
    font-size: 14px;
    color: gainsboro;
    font-weight: bold;
    line-height: 1.3em;
}


/*********************Start Header-Area**********************************/

.container {
    max-width: 1140px;
    width: 90%;
    margin: auto;
}


.header-area {
    overflow: hidden;
}

.header-area .logo-area {
    float: left;
    width: 25%;
    overflow: hidden;
}

.header-area .menu-area {
    width: 75%;
    overflow: hidden;
}

.header-area .menu-area nav {
   float: right;
}

.header-area .menu-area nav ul {
    padding: 0;
    margin: 0;
}

.header-area .menu-area nav ul li{
    display: inline-block;
    margin-right: 25px;
    }

    .header-area .menu-area nav ul li a{
        font-size: 16px;
        font-weight: normal;
        color: #ffffff;
        text-decoration:  none;
        text-transform: capitalize;
    }

    .header-area .menu-area nav ul li a:hover{
        text-decoration:  underline;
    }


/*******************************Start Axit-area*******************************/
.axit-area {
    overflow: hidden;
    color: #ffffff;

}

.axit-area .content{
    background-image: url("../img/building.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
    overflow: hidden;
}

.col-1-2{
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 35px;
}

.axit-area figcaption {
    font-size: 21px;
    letter-spacing: 1px;
    font-family: arial;
    margin-bottom: 50px;
    line-height: 1.3em;
    font-weight: normal;

}

.axit-area hr {
    border-bottom: 1px solid #ffffff;
    border-top: none;
    width: 20%;
    margin-bottom: 30px;
    margin-left: 0;
}

.axit-area p{
    margin-bottom: 40px;
}

.axit-area a {
    text-decoration: none;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: none;
}

.axit-area a:hover {
    text-decoration: underline;
}




/********************Start collums 2*************/


.axit-area .content-box{
    width: 80%;
    margin: auto;
}

.axit-area .heading{
    background-color: gainsboro;
    padding: 5px;
    text-align: center;
    height: 25px;
    border-radius: 5px 5px 0 0 ;
}

.axit-area .heading h3{
    margin: 0;
    color: #000000;
    font-weight: bold;
    text-transform: capitalize;
}


.axit-area .input-box{
    background-color: #ffffff;
    height: 230px;
    overflow: hidden;
    padding: 0 20px;
}

.axit-area .input-box input{
    display: block;
    width: 100%;
    border-bottom: 1px solid gainsboro;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 40px;
}

.axit-area .input-box input:nth-of-type(1){
    margin-top: 40px;
}



.button{
    background-color: #e0a308;
    text-align: center;
    padding: 10px 0;
    }

.button input{
        text-decoration: none;
        background-color: transparent;
        color: #ffffff;
        font-size: 18px;
        border: none;
    }

.button input:hover{
        text-decoration: underline;
    }

/************************Start Social-Area*************************/*

.social-area {
    overflow: hidden;
    }

 .social-area .content{
        background-color: #ffffff;
        padding: 25px 30px;
        border-bottom: 2px solid gray;
        overflow: hidden;
 }

.social-area .text{
   float: left;
   width: 30%;
   overflow: hidden;
}

.social-area .text h4{
    margin : 0;
    font-size: 22px;
    text-transform: capitalize;
    font-weight: none;
}
.social-area .menu {
    float: left;
    width: 70%;
    overflow: hidden;
 }

 
.social-area .menu nav {
    float: right;
    margin-top: 25px;
 }

 .social-area .menu nav ul{
   padding: 0;
   margin: 0;
 }

 .social-area .menu nav ul li{
   display: inline-block;
   margin-right: 30px;
  }

  .social-area .menu nav ul li a{
    text-decoration: none;
   }

   .social-area .menu nav ul li a i{
    font-size: 40px;
    font-weight: normal;
    color: gainsboro;
   }


/*****************************Start Download Area*******************/

.download-area {
    overflow: hidden;
}

.download-area .content{
    background-color: #ffffff;
    padding: 100px 30px;
    overflow: hidden;
}

.download-area .content .tab-area{
    width : 30%;
    float: left;
    overflow: hidden;
}

.download-area .content .tab-area ul{
   padding: 0;
   margin: 0;
   text-align: center;
}

.download-area .content .tab-area ul li{
   list-style: none;
   background-color:#d37108;
   padding: 40px 15px;
   border: 1px solid #ffffff;
   width: 80px;
 }

 .image-area {
     text-align: center;
 }

 .download-area .content .tab-area ul li:first-child{
        border-radius: 5px 5px 0 0;
  }

  .download-area .content .tab-area ul li:nth-of-type(2){
   background-color: #333333;
}

  .download-area .content .tab-area ul li:last-child{
    border-radius: 0 0 5px 5px;
    background-color: #333333;
}



 .download-area .content .tab-area ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
  }

.download-area .content .download-area{
    width : 40%;
    float: left;
    overflow: hidden;
}

.download-area .content .image-area{
    width : 30%;
    float: left;
    overflow: hidden;
}


.btn {
    background-color: #d37108;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px 10px;
    width: 70px;
}

.btn a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: none;
    text-align: center;
}

.btn a:hover{
    text-decoration: underline;
}


/********************************Start Sublist******************************/


.sublist-area {
        overflow: hidden;
}


.sublist-area .content{
        background-color: aliceblue;
        padding: 30px 30px;
        overflow: hidden;
        
}




.sublist-area .content h4{
    margin-left: 30px;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: bold;
    color: #000000;
 }




 .sublist-area .content p{
    margin-left: 30px;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: normal;
    color: #cccccc;
 }

 .sublist-area .title1{
    overflow: hidden;    
    padding: 0 20px;
}

.sublist-area .title2{
    overflow: hidden;    
    padding: 0 20px;
}

.sublist-area .left{
    width: 20%;
    float: left;
}

.sublist-area .right{
    width: 80%;
    float: left;
}

 .left i{
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    color: #e0a308;
    border: 2px solid #d37108;
    height: 30px;
    width: 30px;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
}



.sublist-area .right h5{
   font-size: 16px;
   text-transform: capitalize;
   color: #000000;
   margin-left: 25px;
   margin-bottom: 0;
}

.sublist-area .right p{
    font-size: 13px;
    margin-bottom: 0;
 }


 /**************************Start-Standard-Area*********************************/

 .standard-area {
     overflow: hidden;
 }


 .standard-area .content{
    background-color:#F5F5F5;
    overflow: hidden;
    padding: 60px 30px;
}


.standard-area .headline {
    border-bottom: 1px solid #d37108;
    border-bottom-width: 2px;
}


/***********************Start attribute-area*************************/

.attribute-area{
    overflow: hidden;
}

.attribute-area .content{
    overflow: hidden;
    background-color: #F5F5F5;
    padding: 50px 30px;
    text-align: center;
}

.attribute-area .content h2{
   font-family: Broadway;
}

.attribute-area .content hr{
    width: 80px;
    border-bottom: 2px solid #d37108;
 }

.attribute-area .content i{
        font-size: 30px;
        font-weight: bold;
        color: #e0a308;
        border: 2px solid #d37108;
        height: 30px;
        width: 30px;
        padding: 15px;
        border-radius: 50%;
        text-align: center;
}
.col-1-3{
    float: left;
    width: 33.33%;
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
}


/*******************************Start Pricing Area***********************************/

.pricing-area {
    overflow: hidden;
}

.pricing-area .content{
    background-color: rgb(231, 224, 224);
    overflow: hidden;
    padding: 50px 30px;
    text-align: center;

}

.pricing-area .content h2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}


.pricing-area .content p{
  font-size: 14px;
  font-weight: normal;
  color: gray;
  }


 hr{
        width: 70px;
        border-bottom: 1.5px solid #d37108;
 }


 .pricing-area .content .col-1-3{

}


.pricing-area .content .col-1-3 .heading{
    background-color: #333333;
    padding: 5px 0;
    border-bottom: 2px solid gray;
}

.pricing-area .content .col-1-3 .heading h3{
    color: #ffffff;
    margin: 0;
    font-size: 25px;
}


.pricing-area .content .col-1-3 .digit{
    background-color: #333333;
    padding: 5px 0;
    box-shadow: 0 5px #d37108;
}

.pricing-area .content .col-1-3 .popular{
    background-color: #d37108;
    padding: 5px 0;
}

.pricing-area .content .col-1-3 .popular h4{
    margin: 0;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: bold;
}

.pricing-area .content .col-1-3 .digit h1{
 font-size: 60px;
 font-weight: bold;
 color: #ffffff;
 text-align: center;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 margin: 0;
}


.pricing-area .content .col-1-3 .digit p{
    color: gainsboro;
    font-size: 14px;
    font-style: italic;
    text-transform: capitalize;
}


.pricing-area .content .col-1-3 .text{
    background-color: gainsboro;
    padding: 5px 0;
    margin-top: 5px;
}

.pricing-area .content .col-1-3:nth-of-type(2) .text{   
     margin-top: 0;
}


.pricing-area .content .col-1-3 .text ul{
        padding: 0;
        margin: 0;
        text-align: center;
}

.pricing-area .content .col-1-3 .text ul li{
    border-bottom: 1px solid #cccccc;
    font-size: 14px;
    font-weight: normal;
    color: gray;
    text-transform: uppercase;
    padding: 10px 0;
    list-style: none;

}



/********************Start Customer Area***********************/
.customer-area {
    overflow: hidden;
}

.customer-area .content{
    background-color: #F2F2F2;
    overflow: hidden;
    padding: 50px 30px;
    text-align: center;
}

.customer-area .content .texted{
    background-color: #f0fcdb;
    padding: 5px 5px;
    border: 1px solid transparent;
    border-radius: 5px;
}


.customer-area .content .photo{
    overflow: hidden;
    margin-top: 25px;
}

.customer-area .content .photo .pic{
    float: left;
    width: 30%;
}

.customer-area .content .photo .pic img{
    border: 1px solid gainsboro;
    border-radius: 50%;
} 

.customer-area .content .photo .text{
    float: left;
    width: 70%;
}

.customer-area .content .photo .text h4{
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    margin: 0;
}

.customer-area .content .photo .text p{
    font-size: 15px;
    margin-bottom: 0;
    font-weight: bold;
    color: gray;
}